table, td, th {  
    border: 3px solid #83580b;
    text-align: left;
    padding: 15px;
      background-color: #d9b650;
      color: #83580b;
    
  }

  table {
    border-collapse: collapse;}

   body{
     background-image:url("https://wallpaperaccess.com/full/3704389.png");
     background-repeat: no-repeat;

   }

   h1{
    color: #f5f5dc;
    font-size:35px; 
    font-weight: bold;
   }
   